{
  "printWidth": 120,
  "tabWidth": 4,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "trailingComma": "es5",
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "bracketSameLine": false,
  "proseWrap": "preserve",  "overrides": [
    {
      "files": ["*.ts", "*.tsx", "*.html", "*.css", "*.scss", "*.json"],
      "options": {
        "printWidth": 120,
        "tabWidth": 4,
        "htmlWhitespaceSensitivity": "ignore"
      }
    }
  ]
}
