<span class="relative inline-flex">
    <input
        type="radio"
        class="absolute opacity-0 w-0 h-0 p-0 m-0"
        [id]="radioId"
        [name]="group()"
        [value]="value()"
        [checked]="isChecked"
        [disabled]="disabled()"
        [tabindex]="disabled() ? -1 : 0"
        (change)="onChange($event)"
    />
    <label
        [for]="radioId"
        class="inline-flex items-center m-0 p-0 whitespace-nowrap text-dark-0 select-none"
        [class.cursor-pointer]="!disabled()"
        [class.cursor-not-allowed]="disabled()"
        [class.opacity-50]="disabled()"
    >
        <span class="radio-icon inline-flex items-center justify-center h-5 w-5 rounded-full">
            <amr-icon
                [name]="isChecked ? 'radio_button_checked' : 'radio_button_unchecked'"
                class="text-primary-3 transition-colors duration-200"
            ></amr-icon>
        </span>
        <span class="ml-2">{{ label() }}</span>
    </label>
</span>
