<amr-text
    [type]="showPassword() ? 'text' : 'password'"
    [label]="label()"
    [name]="name()"
    [value]="value()"
    [placeholder]="placeholder()"
    [disabled]="disabled()"
    [readonly]="readonly()"
    [required]="required()"
    [maxlength]="maxlength()"
    [pattern]="pattern()"
    [filled]="filled()"
    [cls]="cls()"
    (valueChanged)="valueChanged.emit($event)"
    (inputChanged)="inputChanged.emit($event)"
    (focused)="focused.emit($event)"
    (focusedOut)="focusedOut.emit($event)"
    (blurred)="blurred.emit($event)"
    (keyPressed)="keyPressed.emit($event)"
    (keyReleased)="keyReleased.emit($event)"
>
    <!-- Reprojection du slot left -->
    <ng-content select="[slot='left']" slot="left"></ng-content>

    <!-- Reprojection du slot right -->
    <ng-content select="[slot='right']" slot="right">
        <amr-icon
            slot="right"
            [name]="showPassword() ? 'visibility_off' : 'visibility'"
            size="md"
            [class.cursor-pointer]="!disabled()"
            (mousedown)="togglePasswordVisibility()"
            (mouseup)="togglePasswordVisibility()"
        />
    </ng-content>
</amr-text>
