.calendar-main {
    &.readonly {
        .calendar-day,
        .calendar-year {
            cursor: default;
            pointer-events: none;
        }
    }

    .calendar-day,
    .calendar-year {
        @apply font-medium text-base transition-all duration-200;
        color: var(--dark-shade0);
        border: 2px solid transparent;

        &:not(.header):hover {
            @apply bg-opacity-10;
            background-color: var(--secondary-shade2);
        }

        &:not(.header):focus-visible {
            @apply outline-none;
            background-color: var(--secondary-shade2);
            border-color: var(--secondary-shade3);
        }

        &.header {
            @apply cursor-default pointer-events-none;
            color: var(--secondary-shade4);
        }

        &.today {
            border-color: var(--secondary-shade3);
        }

        &.selected {
            color: var(--primary-shade0);
            border-color: var(--primary-shade0);

            &:hover {
                color: var(--primary-shade0);
                border-color: var(--primary-shade0);
            }
        }

        &.other-month {
            color: var(--secondary-shade4);
        }

        &.disabled {
            @apply cursor-not-allowed;
            color: var(--secondary-shade4);
            opacity: 0.5;
        }
    }
}
